.parent {
    display: flex;
    align-items: center;
    justify-content: center;

}

.parent > div {
    flex: 1;
}

.left, .right {
    min-width: 250px;
    min-height: 300px;
    background: ivory;
}

.left {
    
}

.right {

}