.container {
    background-color: white;
}

.flex-row {
    display: inline-flex;
    flex-direction: column;
    width: 49vw;
    margin: auto;
}

.flex-row > div {
    flex: 1;
}

.flex-col {
    min-width: 250px;
    min-height: 150px;
    background: #eee;
    max-width: 50vw;
    padding: 10px 20%;
    margin: 15px;
}